:root {
    --primary-color: #05668D;
    --secondary-color: #D38629;
    --accent1-color: #92B0C7;
    --accent2-color: #BFBF00;
    --primary-background-color: #EBF2FA;
    --heading-white-color: #eee;
    --text-white-color: #eee;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary-background-color);
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;    
    color: var(--primary-color);
}

p {
    font-family: "Roboto", sans-serif;    
    color: #000;
}


header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 0 80px;
}

header img {
    width: 80px;
    height: auto;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 5px;
    left: 205px;
    color: var(--heading-white-color);
}

.hero article {
    position: absolute;
    bottom: 200px;
    left: 30px;
    margin-right: 20px;
    opacity: 1;
    background-color: #184c5d80;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.hero article p {
    color: var(--text-white-color);
    font-size: 0.9rem;
}

section {
    margin-top: 40px;
}

section h2 {
    text-align: center;
    margin-bottom: -2px;
}

.history {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.history img {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

figcaption {
    text-align: center;
}

.adventure img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

footer {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 50px;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}

.socials a {
    text-decoration: none;
}

.socials img {
    width: 20px;
    height: auto;
    object-fit: cover;
}